3.1 CHALLENGE - IS AMD MEAN RETURN HIGHER THAN INTEL MEAN RETURN?

In [21]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import math 
INTC = pdr.get_data_yahoo('INTC',
start="01/01/2019", interval="m")
INTC["r"]= (np.log(INTC["Adj Close"]) - np.log(INTC["Adj Close"].shift(1)))
AMD = pdr.get_data_yahoo('AMD',
start="01/01/2019", interval="m")
AMD["r"]= (np.log(AMD["Adj Close"]) - np.log(AMD["Adj Close"].shift(1)))
N=45

In [7]:
print(AMD.head())

                 High        Low       Open      Close      Volume  Adj Close  \
Date
2019-01-01  25.139999  16.940001  18.010000  24.410000  2311913200  24.410000
2019-02-01  25.520000  22.270000  24.610001  23.530001  1301360800  23.530001
2019-03-01  28.110001  21.040001  23.969999  25.520000  1499160400  25.520000
2019-04-01  29.950001  25.830000  26.420000  27.629999  1275793800  27.629999
2019-05-01  29.670000  26.030001  28.950001  27.410000  1675142900  27.410000

                   r
Date
2019-01-01       NaN
2019-02-01 -0.036717
2019-03-01  0.081186
2019-04-01  0.079440
2019-05-01 -0.007994

In [20]:
print(INTC.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45 entries, 2019-01-01 to 2022-08-16
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       45 non-null     float64
 1   Low        45 non-null     float64
 2   Open       45 non-null     float64
 3   Close      45 non-null     float64
 4   Volume     45 non-null     float64
 5   Adj Close  45 non-null     float64
 6   r          44 non-null     float64
dtypes: float64(7)
memory usage: 2.8 KB
None

In [18]:
#CALCULATE THE STANDARD ERROR, WHICH IS THE STANDARD DEVIATION OF THE VARIABLE OF STUDY.
print(INTC.std())
INTC_MEAN = INTC['r'].mean()
INTC_STD = INTC['r'].std()
INTC_VAR = INTC['r'].var()

High         7.544705e+00
Low          6.196693e+00
Open         6.769488e+00
Close        7.046460e+00
Volume       1.902493e+08
Adj Close    6.273778e+00
r            8.315048e-02
dtype: float64

In [17]:
print(AMD.std())
AMD_MEAN = AMD['r'].mean()
AMD_STD = AMD['r'].std()
AMD_VAR = AMD['r'].var()

High         3.855015e+01
Low          3.039881e+01
Open         3.583925e+01
Close        3.497061e+01
Volume       5.248918e+08
Adj Close    3.497061e+01
r            1.347852e-01
dtype: float64

In [22]:
STD_DIFF = (math.sqrt(AMD_VAR + INTC_VAR))/N
STD_DIFF

0.003519332118328178

In [24]:
#CALCULATE THE t-statistic (t-value). EXPLAIN/INTERPRET THE t-statistic.
t_value= ((AMD_MEAN - INTC_MEAN) -0) / STD_DIFF
t_value

10.176134148370602